/aux-dist
/.deps
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/configure.ac
/libtool
/m4
*.o
*.png
*.bel
*.ri
tests
bel-parser
bel-parser.c
bel-parse-term.c
bel-parse-statement.c
bel-tokenize-term.c
tests.c
libBEL.so
