build-aux
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
libtool
m4
/src/belparser
.deps
.libs
libbel.pc
*.o
*.lo
*.la
*.so
*.png
*.bel
*.ri
tests/*.c
tests/*.o
tests/check_libbel
