/aux-dist
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/configure.ac
/libtool
/m4
/src/.deps
/src/.libs 
/src/Makefile
/src/Makefile.in
/src/belparser
*.o
*.lo
*.la
*.so
*.png
*.bel
*.ri
tests
bel-parser
bel-parser.c
bel-parse-term.c
bel-parse-statement.c
bel-tokenize-term.c
tests.c
